@charset "UTF-8";
/* CSS Document */

body{
	margin:0;
	padding: 0;
	color:#434342;
}
header img{
	width:20%;
	height: 20%;
	margin-left:40%;

}
h1{
	font-family: 'Jost', sans-serif;
	text-align: center;
	color: rgba(49,15,90,0.72);
	margin-top:-9px;
}
nav{
	width:100%;
	top: 0;
	left:0;
	z-index: 1;
	background: rgb(238,207,174);
background: linear-gradient(90deg, rgba(238,207,174,1) 5%, rgba(238,174,202,1) 53%, rgba(148,187,233,1) 100%);
}
nav ul{
	list-style-type: none;
	text-align: center;
	padding:1.1%;
	
}
nav ul li{
	display: inline;
	color: #EFEFEF;
	padding: 3%;
	font-size: 1.2rem;
    font-family: 'Jost', sans-serif;
		text-shadow: 1px 1px 4px #454545;
	
}

section h2{
	font-family: 'Jost', sans-serif;
	text-align: center;
	color:rgba(49,15,90,0.79);
	font-size:1.3rem;
}
section p{
	padding: 0 5%;
	text-align: center;
}

figure img{
	width: 90%;
	padding:5%;
}
figcaption{
	color:white;
}
section .pink{
	background-color:#EEB0C7;
	margin: 0;
	padding: 2%;
}

section .blue{
	background-color:#97BAE7;
	margin: 2% 0;
	padding: 2%;
}

section .peach{
	background-color:#EDCDAF;

	padding: 2%;
		margin: 2% 0;
}

figcaption{
	font-variant-caps: unicase;
	text-align: center;
	font-family: 'Jost', sans-serif;
		text-shadow: 1px 1px 4px #454545;
}

.form section{
	clear: left;
	background-color: rgba(49,15,90,0.72);
	width: 90%;
	margin-left: 2%;
	color:white;
	text-align: left;
	padding:3%;
	
}

.info {
	
	width: 80%;
}
section .all{
	margin-left:10%;
}
textarea{
	padding: 10%;
	width: 60%;
	height: 90%;
	margin-bottom:2%;
}
section h3{
	text-align: center;
	font-size: 1.4rem;
    padding-top:3%;
	color:white;
	font-family: 'Jost', sans-serif;
}
.btn{
	border: none;
    padding: 2% 4%;
	margin:2% 0;
	color: black;
	background-color: white;
	text-decoration: none;
}
.side{
	width: 90%;
	margin-top:5%;
	margin-left:2%;
	padding: 2%;
	border-top: 5px solid #EDCDAF;
	border-left: 5px solid #EDCDAF;
	border-bottom: 5px solid #EDCDAF;
	border-right: 5px solid #EDCDAF;
}



footer{
	clear:both;
	background: rgb(238,207,174);
    background: linear-gradient(90deg, rgba(238,207,174,1) 5%, rgba(238,174,202,1) 53%, rgba(148,187,233,1) 100%);
	padding: 7%;
}
footer ul{
	display:flex;
	flex-direction: row;
	
}
footer ul li{
	list-style-type: none;
	width: 30%;

}
/*Desktop*/


@media (min-width:1024px){
	
header img{
	width:10%;
	height: 20%;
	margin-left:45%;

}
h1{
	font-size: 2.2rem;
}


h2{
	font-size:1.2rem;
}
	
	.container {
  display: flex;
  flex-wrap: wrap;
  margin-left:6%;
  
	
	
}
	section figure{
		
	    width: 20%;
	   padding: 2%;
	}
	
	nav ul li{
		font-size:1rem;
		padding:9%;
		
	}
	
aside .container{
  display: flex;
  flex-wrap: wrap;
  margin-left:6%;
	}
	
	section .pink{
	background-color:#EEB0C7;
	margin: 0;
	padding: 2%;
	margin-left:6%;
}

section .blue{
	background-color:#97BAE7;
	margin: 0;
	padding: 2%;
	margin-left:6%;
}

section .peach{
	background-color:#EDCDAF;
	margin: 0;
	padding: 2%;
	margin-left:6%;
}

	.form {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    margin:3%;
	}
	section h3{
		padding: 0;
		margin:0;
		
	}	
	.form section{
	   margin-top:2%;
		width: 30%;
		margin-left:10%;
	
	}
	.form aside{
		width: 40%;
		margin-top:3%;
		margin-right:-2%;
		margin-left:10%;

		
	}
	footer{
		padding:1% 0;
	}
	footer ul li{
	list-style-type: none;
	width: 30%;
    padding:0 5%;

}
	.side{
	width: 100%;
	margin-top:-10%;
	margin-left:-6%;
	
	padding: 3%;
	
}
	.all h3{
		
		padding:1% 0;
		margin: 0 2%;
		font-size: 1.2rem;
	}

}
	



